<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=11">
    <script src="{% static 'js/index.js' %}?v=4"></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/proj">Projects</a>
                </li>
                <li>
                    <a href="#about">About Me</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main">
        <h1>
            Elias Plesiotis
        </h1>
        <p>
            I am a person who loves self improvement and constanlty learning from others
            or by my own.My passion for mathematics has led me to develop strong
            problem solving skills and my passion for programming makes me to always
            want to find the best route possible.
        </p>
    </div>
    <div class="second" id="about">
        <div class="circle circle1"></div>
        <div class="circle circle2"></div>
        <div class="circle circle3"></div>
        <div class="line1"></div>
        <h1 class="pr">About Me</h1>
        <div class="cards">
            {% for p in jobs %}
            <div class="card">
                <h1>{{ p.title }}</h1>
                <h3>{{ p.start_date }} - {{ p.end_date }}</h3>
                <p>{{ p.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
