html body {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    background-color: rgba(255, 255, 255, 0.733);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("../img/monet-haystacks-frost.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    position: absolute;
    top: 4vh;
    left: 2vw;
    padding: 0vw 3vw 0vw 0vw;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    padding: 3vh;
    text-align: center;
    transition: ease-in-out 300ms;
}
.nav ul li a {
    font-size: 4vw;
    color: rgb(252, 252, 252);
    text-decoration: none;
    text-align: center;
    transition: ease-in-out 400ms;
}

.nav ul li:hover {
    background-color: rgba(173, 95, 95, 0.801);
    border-radius: 10px;
}

.nav ul li:hover a { 
    color: white;
}

.main {
    background: linear-gradient(45deg, rgba(252, 134, 0, 0.603) 40%, rgb(238, 78, 78) 100%);
    box-shadow: 0 14px 18px 0 rgba(0,0,0,0.2);
    width: 43vw;
    height: 85vh;
    border-radius: 10px;
    position: absolute;
    top: 4vh;
    right: 20vh;
}

.main h1 {
    color: white;
    font-size: 7vw;
    position: absolute;
    margin-top: 0vh;
    top: 1vh;
    left: 2vw;
}

.main p {
    color: white;
    font-size: 2vw;
    position: absolute;
    top: 40vh;
    left: 2vw;
}

.second {
    background-color: rgb(8, 10, 27);
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 200vh;
}

.pr {
    color: white;
    font-size: 4vw;
    text-align: center;
    text-decoration: underline;
}

.cards {
    display: table;
    padding: 2vw;
    position: absolute;
    top: 10vh;
    margin-top: 10vh;
}

.card {
    background-color: white;
    float: left;
    width: 45vw;
    height: 65vh;
    box-shadow: 5px 14px 18px 5px rgba(255, 255, 255, 0.158);
    border-radius: 10px;
    color: black;
    margin: 1vw;
    padding-bottom: 8vh;
}

.card h1 {
    background-color: black;
    color: white;
    height: 15vh;
    padding: 3vw;
    margin: 1vh;
    text-align: center;
    font-size: 3vw;
    border-radius: 10px;
}

.card h3 {
    text-align: left;
    font-size: 1vw;
    padding: 1vw;
    text-decoration: underline;
}

.card p {
    font-size: 1.5vw;
    padding: 1vw;
}

.card button {
    border: none;
    color: white;
    padding: 4%;
    margin: 4%;
    font-size: 2vw;
    background-color: rgb(197, 108, 30);
    border-radius: 10px;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(88, 0, 230) 40%, rgb(191, 0, 230) 100%);
}

.circle1 {
    position: absolute;
    top: 5vh;
    left: 2vw;
    width: 15vw;
    height: 15vw;
}

.circle2 {
    position: absolute;
    top: 60vh;
    left: 20vw;
    width: 15vw;
    height: 15vw;
}

.circle3 {
    position: absolute;
    top: 55vh;
    left: 60vw;
    width: 25vw;
    height: 25vw;
}

.line1 {
    background: linear-gradient(45deg, rgb(88, 0, 230) 40%, rgb(191, 0, 230) 100%);    
    position: absolute;
    margin-top: -10vh;
    top: 0vh;
    left: 50vw;
    height: 100vh;
    width: 5vw;
    transform: rotate(70deg);
}
